.enviar-jogo-form{
    width:  70%;
    height: flex;
    margin: auto;
    position: relative;
    padding: 50px;
    margin-top: -10px;
    margin-bottom: 15px;
}

.form-div > div{
    width: 46%;
}

.form-div > div:first-of-type{
    margin-right: 20px;
}

.card-upload{
    padding: 10px;
    margin: 20px;
}