.divContainer {
    flex-grow: 1;
    box-shadow: 0 4px 2px -2px #AAA;
    position: "relative",
}

.logo {
    margin: 10px;
    margin-left: 50px;
}

.app_search_bar {
    transform: translate(20%,0%);
}

.app_search_bar .ui{
    width: 100%;
}

.btnLogin {
    color: white !important;
    height: 18px !important;
    font-family: "Work Sans" !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    text-transform: uppercase !important;
    /*border: 1px solid rgba(255, 255, 255, 0.34) !important;*/
}

.btnLogin:hover {
    background-color: #2a2a2a !important;
}

.MuiAppBar-colorPrimary-7 {
    background-color: #191919 !important;
}

.ui.icon.input{
    width: 100%;
}