.owned-games-container {
    justify-content: center;
    align-items: center;
    margin: 20px 20vmax;
    border-radius: 3px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .3);
    background-color: #151d27;
    overflow-y: auto;
}

.expansion-panel {
    background-color: #151d27 !important;
    height: 100% !important;
}

.owned-games-title {
    color: #fff !important;
    font-size: 20px !important;
    font-weight: 700 !important;
    line-height: 1.3 !important;
    font-family: "Open Sans", Arial, Helvetica !important;
    text-align: left !important;
    /* padding: 15px; */
}

.horizontal-line {
    border: 2px solid #12181f;
    margin: 0px 10px;
}

.zero-owned-games {
    padding: 25px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.3;
    font-family: "Open Sans", Arial, Helvetica;
    text-align: center;
    width: 100%;
    height: 80%;
    display: table;
}

.span {
    display: table-cell;
    vertical-align: middle;
}

.games-root {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 25px;
}

.comment-container {
    width: 100%;
    padding: 0 6px;
    box-sizing: border-box;
    margin: 0;
    color: inherit;
    cursor: pointer;
    position: absolute;
    bottom: 5px;
    align-items: center;
}

.owned-evaluation-container {
    width: 100%;
    padding: 0 6px;
    box-sizing: border-box;
    margin: 0;
    color: inherit;
    cursor: pointer;
    position: absolute;
    bottom: 40px;
    align-items: center;
}

#alert-dialog-title+div {
    overflow: hidden;
}

#alert-dialog-title+div>p+div>svg+svg+svg+div>div>div, #alert-dialog-title+div>p+div>svg+svg+svg+div>div>div+div, #alert-dialog-title+div>p+div>svg+svg+svg+div>div>div+div>button, #alert-dialog-title+div>p+div>svg+svg+svg+div>div>div+div+div {
    background-color: #ff0047;
}

.game-name-label, .uploaded-game-name, .game-release-date-label, .game-release-date {
    display: -webkit-box;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
    color: #fff;
    font-size: 14px;
    line-height: 1.3;
    font-family: "Open Sans", Arial, Helvetica;
    height: 60px;
    width: 100%;
    margin-top: 58%;
    padding: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
}

.game-name-label {
    justify-content: left;
    margin-top: 46%;
}

.game-release-date-label {
    justify-content: left;
    margin-top: 70%;
}

.game-release-date {
    margin-top: 82%;
}