.card-fields {
    padding: 15px;
    padding-top: 0px;
    margin: 20px;
    margin-bottom: 5px;
}

.card-jogos {
    padding: 10px;
    margin: 20px;
}

.games-list-root {
    height: 100%;
}

.games-list-title {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.3;
    font-family: "Open Sans", Arial, Helvetica;
    text-align: left;
}

.games-list-containers {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px 15vmax;
    border-radius: 3px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .3);
    background-color: #151d27;
}

.games-filters-root {
    display: flex;
    padding: 10px 15px;
    border-radius: 3px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .3);
    background-color: #151d27;
}

@media screen and (min-width:700px) and (max-width: 1024px) {
    .games-filters-root, .games-list-containers, .games-list-title {
        /* margin: 10px calc(5vmax + 100px); */
        margin: 20px 15vmax;
    }
}

@media screen and (min-width:1025px) and (max-width: 1440px) {
    .games-filters-root, .games-list-containers, .games-list-title {
        /* margin: 10px calc(5vmax + 55px); */
        margin: 20px 15vmax;
    }
}

@media screen and (min-width:1441px) and (max-width: 1700px) {
    .games-filters-root, .games-list-containers, .games-list-title {
        /* margin: 10px calc(5vmax + 85px); */
        margin: 20px 15vmax;
    }
}

@media screen and (min-width:1701px) and (max-width: 2560px) {
    .games-filters-root, .games-list-containers, .games-list-title {
        margin: 20px 15vmax;
        /* margin: 10px calc(5vmax + 75px); */
    }
}

.game-container {
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #12181f;
    border: 1px solid #435467;
    width: 193px;
    min-width: 193px;
    height: 203px;
    position: relative;
    display: flex;
    margin: 10px;
}

.game-thumbnail {
    width: 100%;
    max-height: 50%;
    cursor: pointer;
    border-radius: 5px 5px 0px 0px;
}

.game-name {
    display: -webkit-box;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
    color: #fff;
    font-size: 14px;
    line-height: 1.3;
    font-family: "Open Sans", Arial, Helvetica;
    cursor: pointer;
    height: 60px;
    width: 100%;
    margin-top: 46%;
    padding: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
}

.game-price-container {
    width: 100%;
    padding: 0 6px;
    box-sizing: border-box;
    margin: 0;
    color: inherit;
    cursor: pointer;
    position: absolute;
    bottom: 5px;
    align-items: center;
}

.game-price-title, .game-added-in-chart {
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-family: "Open Sans", Arial, Helvetica;
    min-width: 75px;
    height: 30px;
    padding: 0 3px;
    border: 1px solid #435467;
    background-color: rgba(95, 115, 138, .3);
    border-radius: 5px;
    box-shadow: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    transition: font-size 0ms;
    transition: 1s;
}

.game-price-title:hover {
    background: #e23;
    font-size: 11px;
}

.game-added-in-chart {
    background-color: #393;
}

.filter-button {
    color: white !important;
    padding: 10px 35px !important;
    display: flex !important;
    flex-grow: 1 !important;
    flex-direction: row !important;
    margin: 10px !important;
    text-align: center !important;
    justify-content: center !important;
}

.filter-icon {
    margin: 0px 10px 0px 0px;
}

.ver-mais-root {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.ver-mais-root>button {
    color: white !important;
    padding: 8px 15px;
    width: 193px;
    background-color: #0499fe !important;
}

.ver-mais-root>button:hover {
    color: white !important;
    background-color: #123d59 !important;
}

.sad-smile-gl, .ok-smile-gl, .happy-smile-gl {
    color: #ff0047;
    position: absolute;
    bottom: 40px;
    height: 30px !important;
    width: 30px !important;
    right: 20px;
}

.game-evaluation-gl-container {
    cursor: pointer;
}

.game-evalaluation-gl-title {
    color: #fff;
    font-size: 14px;
    line-height: 1.3;
    font-family: "Open Sans", Arial, Helvetica;
    padding: 5px;
    position: absolute;
    bottom: 40px;
    left: 8px;
}