.divContainerInterno {
  vertical-align: top;
  display: inline-block;
  height: 100%;
}

.divExterior {
  display: table;
  height: 100%;
}

.divInterior {
  display: table-cell;
  height: 100%;
  text-align: left;
  vertical-align: middle;
}

.primary-button{
  background-color: rgb(255, 0, 71) !important;
  color: white !important;
}

.primary-button:hover{
 /* background-color: rgb(233, 16, 76) !important;; */
}

body {
  min-height: 100%;
}