.divContainerInterno {
  vertical-align: top;
  display: inline-block;
  height: 100%;
}

.divExterior {
  display: table;
  height: 100%;
}

.divInterior {
  display: table-cell;
  height: 100%;
  text-align: left;
  vertical-align: middle;
}